<div class="container overflow-hidden">
  <div class="row text-center mt-2 mb-0">
  <h1>Shared Family Album For Scrudato, Miceli, Provenzano and Others!</h1>
  </div>
  <div class="row mb-5">
    <div *ngFor="let image of imageList" class="card promoting-card col-sm-4 pl-0 pr-0 mb-3" (click)="addComment(image.id)">
      <!-- Card content -->
      <div class="card-body d-flex flex-row p-2">
        <!-- Content -->

          <!-- Title -->
          <div class="col w-100" align="left">
            <h4 class="card-title font-weight-bold m-0">{{image.caption}}</h4>
          </div>
          <!-- <div class="col w-50" align="right">
            <span class="material-icons" align="right">
              add_comment
            </span>
          </div> -->


      </div>
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top rounded-0" src={{image.imageUrl}} alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <!-- Card -->


    <!-- Get More -->
    <div class="card promoting-card col-sm-4 pl-0 pr-0 mb-3" (click)="getNextImages()">

      <button type="button" class="btn btn-primary btn-lg">Click To Load More</button>

    </div>

  </div>
</div>
