<div class="container p-0 m-0 mb-5 overflow-hidden">
  <span class="material-icons p-4" (click)="goBack()">arrow_back_ios</span>
  <div class="row mb-5">
    <div class="card promoting-card col-sm-4 w-100 mb-3" style="width:20rem">
      <form [formGroup]="commentForm" (submit)="submitComment(commentForm.value)">
        <div class="text-center">
          <img [src]="image.imageUrl" class="img-fluid">
        </div>
        <div class="form-group mt-1 mb-0 w-100">
          <input class="form-control" formControlName="comment" placeholder="Add a Comment">
        </div>
        <div class="form-group mt-2 mb-0 w-100">
          <input class="form-control" formControlName="name" placeholder="Name (Optional)">
        </div>
        <div class="form-row mt-1">
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-success btn-block float-right">Add Comment</button>
          </div>
        </div>
      </form>
      <div class="inbox-chat overflow-auto">
        <div class="chat_list active_chat" *ngFor="let comment of image.comments">
          <div class="chat_people">
            <div class="chat_ib">
              <h5>{{comment.name}}</h5>
              <p>{{comment.comment}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
